@import 'reset';
@import 'border-box';
@import "fontawesome/font-awesome";

$layout_unit: 20px;

$sideview_overlap: 85%;
$sideview_transition: 0.5s ease-out;

//Global styles
*{
  //font-family: Arial, sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

//Top-level layout
#main{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #menu{
    position: absolute;
    width: $sideview_overlap;
    height: 100%;
    top: 0;
    left: -$sideview_overlap;
    background: #35363A;
    color: #FFFFFF;
    transition: left $sideview_transition;
    padding-top: $layout_unit*7;

    header{
      position: absolute;
      top: 0;
      height: $layout_unit*7;
      width: 100%;
      text-align: center;
    }

    nav{
      height: 100%;
      //background: #3c678b;

      a{
        display: block;
        color: inherit;
        width: 100%;
        height: $layout_unit*2;
        line-height: $layout_unit*2;
        padding: 0 $layout_unit/2;
        font-weight: 200;
        background: url('/img/link_icon.png') no-repeat center right;
        //border-bottom: 1px solid #0B416E;
      }
    }
  }

  #content{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $layout_unit*2 0;
    left: 0;
    transition: left $sideview_transition;

    header{
      position: absolute;
      top: 0;
      width: 100%;
      height: $layout_unit*2;
      background: #35363A;
      color: #FFFFFF;
      line-height: $layout_unit*2;
      text-align: center;
      font-weight: 200;

      a{
        display: block;
        height: $layout_unit*2;
        width: $layout_unit*2;
        line-height: $layout_unit*2;
        color: inherit;
        font-size: 120%;
        position: absolute;

        &.menu_toggle{
          float: left;
          background: url('/img/menu_icon.png') no-repeat center center;
        }
      }
    }
    #context_menu{
      font-size: 0%;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $layout_unit*2;
      //line-height: $layout_unit*2;
      background: #F1F3F4;

      a{
        text-align: center;
        color: #35363A;
        line-height: $layout_unit*2;
        font-size: 100%;
        display: inline-block;
        height: $layout_unit*2;
        width: 33.33%;

        span{
          display: none;
        }

        &.add-btn{
          background: url('/img/plus_icon.png') no-repeat center center;
        }

        &.remove-btn{
          background: url('/img/remove_icon.png') no-repeat center center;
        }
      }
    }
    article{
      height: 100%;
      background: #F1F3F4;
      color: #35363A;

      ul{
        //padding: $layout_unit/2;

        li{
          background: #FFFFFF;
          margin-bottom: 1px;
        }
      }
    }
  }

  #overlay{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    transition: left $sideview_transition, background $sideview_transition;
    background: rgba(0,0,0,0);
  }

  &.menu{
    #menu{
      left: 0;
    }
    #content{
      left: $sideview_overlap;
    }
    #overlay{
      top: 0;
      left: $sideview_overlap;
      background: rgba(0,0,0,0.2);
    }
  }
}

/*TEMP*/
body{
  //background: #333;

  #main{
    //max-width: 320px;
    //margin: 0 auto;
    //background: grey;

    //#menu{
    //  background: indianred;
    //}
    //#content{
    //  background: lightyellow;
    //}
    //#user{
    //  background: darkorange;
    //}
  }
}