@import 'reset';
@import 'border-box';
@import "fontawesome/font-awesome";

$layout_unit: 20px;

$sideview_overlap: 85%;
$sideview_transition: 0.5s ease-out;

//Global styles
*{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

html, body {
  height: 100%;
  overflow: hidden;
}

a{
  text-decoration: none;
}

//Top-level layout
#main{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #menu{
    position: absolute;
    width: $sideview_overlap;
    height: 100%;
    top: 0;
    left: -$sideview_overlap;
    background: #0B416E;
    color: #FFFFFF;
    transition: left $sideview_transition;
    padding-top: $layout_unit*7;

    header{
      position: absolute;
      top: 0;
      height: $layout_unit*7;
      width: 100%;
      text-align: center;
    }

    nav{
      height: 100%;
      background: #3c678b;

      a{
        display: block;
        color: inherit;
        width: 100%;
        height: $layout_unit*2;
        line-height: $layout_unit*2;
        padding: 0 $layout_unit/2;
        border-bottom: 1px solid #0B416E;
      }
    }
  }

  #content{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: $layout_unit*2 0;
    transition: left $sideview_transition, right $sideview_transition;

    header{
      position: absolute;
      top: 0;
      width: 100%;
      height: $layout_unit*2;
      background: #0B416E;
      color: #FFFFFF;
      line-height: $layout_unit*2;
      text-align: center;

      a{
        display: block;
        height: $layout_unit*2;
        width: $layout_unit*2;
        line-height: $layout_unit*2;
        color: inherit;
        font-size: 140%;

        &.menu_toggle{
          float: left;
        }

        &.aside_toggle{
          float: right;
        }
      }
    }
    #context_menu{
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $layout_unit*2;
      background: #D1CDCA;
      color: #EAEAEA;
      line-height: $layout_unit*2;

      a{
        display: none;
        width: 100%;
        color: inherit;
        border-bottom: 1px solid #EAEAEA;
        padding: 0 $layout_unit/2;

        &.primary{
          display: block;
          padding-right: $layout_unit/2;
        }
        &.toggle{
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          width: 40px;
          text-align: center;
          padding: 0;
        }
      }

      &.show{
        height: auto;

        a{
          display: block;
        }
      }
    }
    article{
      height: 100%;
      background: #FFFFFF;
      color: #3C3C3B;
    }
  }

  #aside{
    position: absolute;
    width: $sideview_overlap;
    height: 100%;
    top: 0;
    right: -$sideview_overlap;
    background: #0B416E;
    color: #FFFFFF;
    transition: right $sideview_transition;

    a{
      display: block;
      color: inherit;
    }
  }

  #overlay{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    transition: left $sideview_transition, right $sideview_transition, background $sideview_transition;
    background: rgba(0,0,0,0);
  }

  &.menu{
    #menu{
      left: 0;
    }
    #content{
      left: $sideview_overlap;
    }
    #overlay{
      top: 0;
      left: $sideview_overlap;
      right: auto;
      background: rgba(0,0,0,0.2);
    }
  }

  &.user{
    #user{
      right: 0;
    }
    #content{
      right: $sideview_overlap;
    }
    #overlay{
      top: 0;
      right: $sideview_overlap;
      left: auto;
      background: rgba(0,0,0,0.2);
    }
  }
}

/*TEMP*/
body{
  //background: #333;

  #main{
    //max-width: 320px;
    //margin: 0 auto;
    //background: grey;

    //#menu{
    //  background: indianred;
    //}
    //#content{
    //  background: lightyellow;
    //}
    //#user{
    //  background: darkorange;
    //}
  }
}