@import 'reset';
@import 'border-box';

$layout_unit: 20px;

//Global font declaration
*{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

//Top-level layout
body{
  #header{
    height: $layout_unit*3;
    line-height: $layout_unit*2;
    padding: $layout_unit/2;

    h1{

    }
    img{

    }
  }
}

body{
  .menu{
    height: $layout_unit*2;
    overflow: hidden;

    a{
      width: 100%;
      display: block;
      height: $layout_unit*2;
      //width: 40px;
      font-size: 17px;
      line-height: $layout_unit*2;
      text-align: center;
      color: #FFFFFF;
      padding: 0 $layout_unit/2;
      text-decoration: none;

      &.list{
        background: #0B416E;
      }
      &.products{
        background: #24547D;
      }
      &.profile{
        background: #507697;
      }
    }

    &.sel_list{
      padding-right: $layout_unit*4;

      a.list{
        text-align: left;
      }

      a.products,
      a.profile{
        width: $layout_unit*2;
        float: right;
        right: -$layout_unit*4;
        position: relative;
        top: -$layout_unit*2;
      }
    }

    &.sel_products{
      padding-left: $layout_unit*2;
      padding-right: $layout_unit*2;

      a.products{
        text-align: left;
      }

      a.list{
        width: $layout_unit*2;
        float: left;
        margin-left: -$layout_unit*2;
      }
      a.profile{
        width: $layout_unit*2;
        float: right;
        right: -$layout_unit*2;
        position: relative;
        top: -$layout_unit*2;
      }
    }

    &.sel_profile{
      padding-left: $layout_unit*4;

      a.profile{
        text-align: left;
      }

      a.list,
      a.products{
        width: 40px;
        float: left;
        margin-left: -$layout_unit*4;
      }
      a.products{
        margin-left: -$layout_unit*2;
      }
    }
  }
}

body{
  #content{
    article{
      padding: $layout_unit/2;
    }
  }
}

//Individual pages
body #content{
  #temp_page{

  }
}